@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d3557;
  --foreground: #f1faee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d3557;
    --foreground: #f1faee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* #a8dadc */
/* #457b9d */
/* #1d3557 */
/* #f1faee */
/* #e63946 */